body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u3 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:272px;
  width:141px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:280px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:305px;
  width:141px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:30px;
  top:313px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:31px;
  top:149px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:30px;
  top:173px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:30px;
  top:196px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:30px;
  top:218px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:30px;
  top:242px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:262px;
  top:161px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:332px;
  top:161px;
  width:66px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:240px;
  top:238px;
  width:695px;
  height:185px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:53px;
  top:0px;
  width:82px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:135px;
  top:0px;
  width:123px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:258px;
  top:0px;
  width:87px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u59 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:345px;
  top:0px;
  width:76px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:421px;
  top:0px;
  width:71px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:492px;
  top:0px;
  width:89px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:581px;
  top:0px;
  width:109px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:36px;
  width:53px;
  height:36px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:53px;
  top:36px;
  width:82px;
  height:36px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:135px;
  top:36px;
  width:123px;
  height:36px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:258px;
  top:36px;
  width:87px;
  height:36px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:345px;
  top:36px;
  width:76px;
  height:36px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:421px;
  top:36px;
  width:71px;
  height:36px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:492px;
  top:36px;
  width:89px;
  height:36px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:581px;
  top:36px;
  width:109px;
  height:36px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:72px;
  width:53px;
  height:36px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:53px;
  top:72px;
  width:82px;
  height:36px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:135px;
  top:72px;
  width:123px;
  height:36px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:258px;
  top:72px;
  width:87px;
  height:36px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:345px;
  top:72px;
  width:76px;
  height:36px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:421px;
  top:72px;
  width:71px;
  height:36px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:492px;
  top:72px;
  width:89px;
  height:36px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:581px;
  top:72px;
  width:109px;
  height:36px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:108px;
  width:53px;
  height:36px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:53px;
  top:108px;
  width:82px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:135px;
  top:108px;
  width:123px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:258px;
  top:108px;
  width:87px;
  height:36px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:345px;
  top:108px;
  width:76px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:421px;
  top:108px;
  width:71px;
  height:36px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:492px;
  top:108px;
  width:89px;
  height:36px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:581px;
  top:108px;
  width:109px;
  height:36px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:144px;
  width:53px;
  height:36px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:53px;
  top:144px;
  width:82px;
  height:36px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:135px;
  top:144px;
  width:123px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:258px;
  top:144px;
  width:87px;
  height:36px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:345px;
  top:144px;
  width:76px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:421px;
  top:144px;
  width:71px;
  height:36px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:492px;
  top:144px;
  width:89px;
  height:36px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:581px;
  top:144px;
  width:109px;
  height:36px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:261px;
  top:284px;
  width:19px;
  height:16px;
}
#u133 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u134 {
  position:absolute;
  left:261px;
  top:319px;
  width:19px;
  height:16px;
}
#u135 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u136 {
  position:absolute;
  left:261px;
  top:359px;
  width:19px;
  height:16px;
}
#u137 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u138 {
  position:absolute;
  left:260px;
  top:392px;
  width:19px;
  height:16px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  position:absolute;
  left:859px;
  top:490px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:262px;
  top:494px;
  width:446px;
  height:16px;
  color:#FF0000;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:240px;
  top:490px;
  width:16px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:659px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:681px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:704px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:727px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:749px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:771px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:794px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:817px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:839px;
  top:440px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:859px;
  top:443px;
  width:10px;
  height:10px;
  color:#006600;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u165 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:874px;
  top:440px;
  width:46px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-decoration:underline;
  color:#006600;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:248px;
  top:204px;
  width:40px;
  height:16px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:280px;
  top:200px;
  width:110px;
  height:25px;
}
#u170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u171 {
  position:absolute;
  left:400px;
  top:204px;
  width:53px;
  height:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:453px;
  top:200px;
  width:110px;
  height:25px;
}
#u173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u174 {
  position:absolute;
  left:584px;
  top:204px;
  width:81px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:865px;
  top:201px;
  width:65px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:615px;
  top:200px;
  width:85px;
  height:25px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
#u179 {
  position:absolute;
  left:815px;
  top:200px;
  width:40px;
  height:26px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:26px;
}
#u180 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:725px;
  top:200px;
  width:85px;
  height:25px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
#u182 {
  position:absolute;
  left:705px;
  top:204px;
  width:15px;
  height:16px;
  text-align:center;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:835px;
  top:210px;
  width:165px;
  height:190px;
  overflow:hidden;
  visibility:hidden;
}
#u184_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:185px;
}
#u186 {
  position:absolute;
  left:2px;
  top:84px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:10px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u188 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:128px;
  top:10px;
  width:22px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:37px;
  top:12px;
  width:86px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:10px;
  top:50px;
  width:145px;
  height:125px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:40px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u199 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:80px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:100px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u207 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:20px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:40px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:60px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:80px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u217 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:100px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:120px;
  top:20px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u221 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u223 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:20px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u225 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:40px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:60px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u229 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:80px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u231 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:100px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u233 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:120px;
  top:40px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:20px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u239 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:40px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:60px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u243 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:80px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u245 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:100px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u247 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:120px;
  top:60px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:0px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:20px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u253 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:40px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#130D8E;
  text-align:center;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:60px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:80px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:100px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:120px;
  top:80px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u263 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:0px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u265 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:20px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u267 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:40px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u269 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:60px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u271 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:80px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u273 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u274 {
  position:absolute;
  left:100px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u275 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:120px;
  top:100px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u277 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:10px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:130px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:30px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:50px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u285 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:70px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:90px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:110px;
  top:35px;
  width:17px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  text-align:center;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:230px;
  top:187px;
  width:710px;
  height:343px;
  overflow:hidden;
  visibility:hidden;
}
#u292_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:343px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:340px;
  opacity:0.6;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:340px;
}
#u294 {
  position:absolute;
  left:2px;
  top:162px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:80px;
  top:40px;
  width:540px;
  height:160px;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:160px;
}
#u296 {
  position:absolute;
  left:2px;
  top:72px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:280px;
  top:107px;
  width:200px;
  height:25px;
}
#u297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u298 {
  position:absolute;
  left:510px;
  top:108px;
  width:80px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u299 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:158px;
  top:108px;
  width:120px;
  height:16px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u302 {
  position:absolute;
  left:80px;
  top:40px;
  width:540px;
  height:30px;
}
#u302_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:626px;
  height:116px;
}
#u303 {
  position:absolute;
  left:2px;
  top:7px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:130px;
  top:47px;
  width:90px;
  height:16px;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:104px;
  top:47px;
  width:16px;
  height:16px;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u307 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:280px;
  top:142px;
  width:108px;
  height:18px;
  color:#FF0000;
  text-align:left;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u309 {
  position:absolute;
  left:2px;
  top:1px;
  width:104px;
  white-space:nowrap;
}
#u310 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u312 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u314 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u316 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u318 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u320 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u322 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u323 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u326 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u327 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u328 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u329 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u331 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
