body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:79px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:349px;
  top:162px;
  width:70px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:272px;
  top:214px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:360px;
  top:210px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:272px;
  top:256px;
  width:40px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:360px;
  top:252px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:272px;
  top:334px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:360px;
  top:330px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:272px;
  top:381px;
  width:53px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:360px;
  top:377px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:272px;
  top:432px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:272px;
  top:574px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:471px;
  top:580px;
  width:170px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:360px;
  top:555px;
  width:361px;
  height:21px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:360px;
  top:574px;
  width:540px;
  height:116px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:116px;
}
#u27 {
  position:absolute;
  left:2px;
  top:50px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:584px;
  top:264px;
  width:91px;
  height:16px;
  font-size:10px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:262px;
  top:711px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:390px;
  top:711px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:276px;
  top:470px;
  width:57px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:720px;
  top:470px;
  width:36px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:360px;
  top:458px;
  width:350px;
  height:82px;
  overflow:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:82px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u39 {
  position:absolute;
  left:3px;
  top:17px;
  width:281px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:294px;
  top:17px;
  width:16px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:3px;
  top:43px;
  width:281px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:294px;
  top:43px;
  width:16px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:170px;
  top:17px;
  width:70px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:170px;
  top:43px;
  width:70px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:378px;
  top:586px;
  width:341px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:360px;
  top:574px;
  width:540px;
  height:116px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:116px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u54_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u57 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:236px;
  width:141px;
  height:32px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:244px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:0px;
  top:269px;
  width:141px;
  height:32px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:30px;
  top:277px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:302px;
  width:141px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:30px;
  top:310px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:0px;
  top:335px;
  width:141px;
  height:32px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:30px;
  top:343px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:368px;
  width:141px;
  height:32px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:30px;
  top:376px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:30px;
  top:52px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:30px;
  top:76px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:30px;
  top:102px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:30px;
  top:125px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:30px;
  top:150px;
  width:91px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:30px;
  top:174px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:30px;
  top:200px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:360px;
  top:432px;
  width:70px;
  height:16px;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:450px;
  top:432px;
  width:100px;
  height:16px;
}
#u108 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u107_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u109 {
  position:absolute;
  left:435px;
  top:304px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u109_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u110 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u110_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u111 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u112_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u117 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:100px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u121 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:108px;
  top:74px;
  width:53px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:82px;
  top:74px;
  width:16px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u125 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:270px;
  top:295px;
  width:66px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:360px;
  top:292px;
  width:200px;
  height:22px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u129 {
  position:absolute;
  left:346px;
  top:292px;
  width:446px;
  height:296px;
  overflow:hidden;
  visibility:hidden;
}
#u129_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:296px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u130 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:270px;
}
#u130_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:476px;
  height:356px;
}
#u131 {
  position:absolute;
  left:2px;
  top:127px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:30px;
}
#u132_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:476px;
  height:116px;
}
#u133 {
  position:absolute;
  left:2px;
  top:7px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:370px;
  top:17px;
  width:16px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:190px;
  top:240px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:280px;
  top:240px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:20px;
  top:17px;
  width:16px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:20px;
  top:80px;
  width:355px;
  height:130px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:59px;
  top:0px;
  width:120px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:179px;
  top:0px;
  width:66px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:245px;
  top:0px;
  width:104px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:36px;
  width:59px;
  height:30px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:59px;
  top:36px;
  width:120px;
  height:30px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:179px;
  top:36px;
  width:66px;
  height:30px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:245px;
  top:36px;
  width:104px;
  height:30px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:0px;
  top:66px;
  width:59px;
  height:29px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u162 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:59px;
  top:66px;
  width:120px;
  height:29px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u164 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:179px;
  top:66px;
  width:66px;
  height:29px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u166 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:245px;
  top:66px;
  width:104px;
  height:29px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u168 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:0px;
  top:95px;
  width:59px;
  height:30px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:30px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:59px;
  top:95px;
  width:120px;
  height:30px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:179px;
  top:95px;
  width:66px;
  height:30px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:245px;
  top:95px;
  width:104px;
  height:30px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:300px;
  top:214px;
  width:16px;
  height:16px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u178 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:351px;
  top:214px;
  width:16px;
  height:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u180 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:20px;
  top:54px;
  width:66px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:86px;
  top:50px;
  width:94px;
  height:25px;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u184 {
  position:absolute;
  left:190px;
  top:51px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:45px;
  top:124px;
  width:25px;
  height:16px;
}
#u187 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u188 {
  position:absolute;
  left:45px;
  top:154px;
  width:25px;
  height:16px;
}
#u189 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u190 {
  position:absolute;
  left:45px;
  top:183px;
  width:25px;
  height:16px;
}
#u191 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u192 {
  position:absolute;
  left:278px;
  top:120px;
  width:82px;
  height:25px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u193 {
  position:absolute;
  left:277px;
  top:149px;
  width:82px;
  height:25px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u194 {
  position:absolute;
  left:277px;
  top:177px;
  width:82px;
  height:25px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u195 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u197 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u203 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u208 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u213 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u214 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u216 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
