body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:256px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:264px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:289px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:297px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:322px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:330px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:27px;
  top:118px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:26px;
  top:142px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:26px;
  top:165px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:26px;
  top:187px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:26px;
  top:208px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:26px;
  top:230px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:330px;
  top:162px;
  width:73px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:340px;
  top:520px;
  width:87px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:340px;
  top:229px;
  width:122px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:340px;
  top:265px;
  width:66px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:416px;
  top:261px;
  width:200px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:626px;
  top:265px;
  width:133px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:225px;
  top:310px;
  width:196px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:416px;
  top:305px;
  width:200px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u67 {
  position:absolute;
  left:350px;
  top:354px;
  width:66px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:416px;
  top:351px;
  width:200px;
  height:22px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:340px;
  top:397px;
  width:79px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:416px;
  top:393px;
  width:200px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73 {
  position:absolute;
  left:340px;
  top:449px;
  width:66px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:416px;
  top:445px;
  width:200px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u76 {
  position:absolute;
  left:341px;
  top:236px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u76_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u77 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u77_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u78 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u84 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:90px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u88 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:66px;
  top:55px;
  width:165px;
  height:48px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:30px;
  top:75px;
  width:16px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:759px;
  top:263px;
  width:6px;
  height:16px;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:626px;
  top:310px;
  width:31px;
  height:16px;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:626px;
  top:354px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:626px;
  top:398px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:626px;
  top:454px;
  width:35px;
  height:16px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:229px;
  top:188px;
  width:675px;
  height:482px;
  overflow:hidden;
}
#u103_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:482px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u104 {
  position:absolute;
  left:-50px;
  top:-10px;
  width:740px;
  height:503px;
  opacity:0.8;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:503px;
}
#u105 {
  position:absolute;
  left:2px;
  top:244px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:438px;
  top:221px;
  width:100px;
  height:26px;
  font-family:'华文行楷 Oblique', '华文行楷';
  font-style:oblique;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:54px;
  top:63px;
  width:500px;
  height:148px;
}
#u108_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:530px;
  height:178px;
}
#u109 {
  position:absolute;
  left:2px;
  top:66px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:100px;
  top:68px;
  width:408px;
  height:136px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:136px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:100px;
  top:68px;
  width:33px;
  height:32px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:348px;
  top:235px;
  width:446px;
  height:296px;
  overflow:hidden;
  visibility:hidden;
}
#u114_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:296px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u115 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:270px;
}
#u115_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:476px;
  height:356px;
}
#u116 {
  position:absolute;
  left:2px;
  top:127px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  height:30px;
}
#u117_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:476px;
  height:116px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:370px;
  top:17px;
  width:16px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u122 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:190px;
  top:240px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:280px;
  top:240px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u128 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:62px;
  top:49px;
  width:151px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:27px;
  top:75px;
  width:124px;
  height:34px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:72px;
  top:119px;
  width:392px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:62px;
  top:162px;
  width:312px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:62px;
  top:200px;
  width:292px;
  height:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:134px;
  top:75px;
  width:158px;
  height:32px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u153 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u154 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u162 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
