body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:256px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:264px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:289px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:297px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:322px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:330px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:27px;
  top:118px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:26px;
  top:142px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:26px;
  top:165px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:26px;
  top:187px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:26px;
  top:208px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:26px;
  top:230px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:330px;
  top:162px;
  width:73px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:782px;
  top:422px;
  width:87px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:253px;
  top:236px;
  width:93px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:519px;
  top:236px;
  width:390px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:346px;
  top:232px;
  width:173px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u62 {
  position:absolute;
  left:280px;
  top:290px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:346px;
  top:286px;
  width:173px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u65 {
  position:absolute;
  left:280px;
  top:340px;
  width:66px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:346px;
  top:336px;
  width:173px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u68 {
  position:absolute;
  left:529px;
  top:295px;
  width:157px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:272px;
  top:194px;
  width:74px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:346px;
  top:194px;
  width:90px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:529px;
  top:341px;
  width:99px;
  height:20px;
  color:#FF0000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:280px;
  top:188px;
  visibility:hidden;
}
#u76_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u77 {
  position:absolute;
  left:10px;
  top:10px;
  width:450px;
  height:280px;
}
#u77_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:536px;
  height:366px;
}
#u78 {
  position:absolute;
  left:2px;
  top:132px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:10px;
  width:450px;
  height:30px;
}
#u79_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:536px;
  height:116px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:424px;
  top:17px;
  width:16px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u84 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:280px;
  top:236px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:360px;
  top:236px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:70px;
  top:80px;
  width:400px;
  height:140px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:140px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:370px;
  top:230px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u93_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u94 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u94_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u95 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:90px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:123px;
  top:82px;
  width:53px;
  height:16px;
  color:#1E1E1E;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:97px;
  top:82px;
  width:16px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u131 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
