body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:240px;
  top:161px;
  width:30px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF9900;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:164px;
  width:27px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:611px;
  top:606px;
  width:123px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:752px;
  top:757px;
  width:98px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u11 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:272px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:280px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:305px;
  width:141px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:313px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:31px;
  top:149px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:30px;
  top:173px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:30px;
  top:196px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:30px;
  top:218px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:30px;
  top:242px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:250px;
  top:370px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:250px;
  top:200px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:258px;
  top:226px;
  width:14px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:258px;
  top:226px;
  width:100px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:258px;
  top:252px;
  width:161px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:250px;
  top:216px;
  width:590px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u66 {
  position:absolute;
  left:250px;
  top:386px;
  width:590px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u67 {
  position:absolute;
  left:258px;
  top:340px;
  width:177px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:258px;
  top:314px;
  width:118px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:386px;
  top:314px;
  width:222px;
  height:16px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:258px;
  top:281px;
  width:105px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:240px;
  top:416px;
  width:625px;
  height:185px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:139px;
  top:0px;
  width:135px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:274px;
  top:0px;
  width:98px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:372px;
  top:0px;
  width:122px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:494px;
  top:0px;
  width:126px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:36px;
  width:139px;
  height:36px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:139px;
  top:36px;
  width:135px;
  height:36px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:274px;
  top:36px;
  width:98px;
  height:36px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:372px;
  top:36px;
  width:122px;
  height:36px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:494px;
  top:36px;
  width:126px;
  height:36px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:72px;
  width:139px;
  height:36px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:139px;
  top:72px;
  width:135px;
  height:36px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:274px;
  top:72px;
  width:98px;
  height:36px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:372px;
  top:72px;
  width:122px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:494px;
  top:72px;
  width:126px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:108px;
  width:139px;
  height:36px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:139px;
  top:108px;
  width:135px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:274px;
  top:108px;
  width:98px;
  height:36px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:372px;
  top:108px;
  width:122px;
  height:36px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:494px;
  top:108px;
  width:126px;
  height:36px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:144px;
  width:139px;
  height:36px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:139px;
  top:144px;
  width:135px;
  height:36px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:274px;
  top:144px;
  width:98px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:372px;
  top:144px;
  width:122px;
  height:36px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:494px;
  top:144px;
  width:126px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:737px;
  top:606px;
  width:142px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:362px;
  top:753px;
  width:200px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u129 {
  position:absolute;
  left:240px;
  top:755px;
  width:120px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:572px;
  top:757px;
  width:108px;
  height:18px;
  color:#FF0000;
  text-align:left;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u132 {
  position:absolute;
  left:2px;
  top:1px;
  width:104px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:250px;
  top:632px;
  width:590px;
  height:10px;
}
#u133_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u133_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u134 {
  position:absolute;
  left:290px;
  top:765px;
  width:153px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  visibility:hidden;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:40px;
  top:80px;
  width:160px;
  height:40px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:240px;
  top:652px;
}
#u138_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u139 {
  position:absolute;
  left:0px;
  top:3px;
  width:66px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:120px;
  top:3px;
  width:60px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:160px;
  top:3px;
  width:100px;
  height:16px;
  color:#000000;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:0px;
  top:59px;
  width:155px;
  height:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:514px;
  top:3px;
  width:16px;
  height:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u148 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:32px;
  width:66px;
  height:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:120px;
  top:32px;
  width:30px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u138_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u153 {
  position:absolute;
  left:467px;
  top:55px;
  width:73px;
  height:25px;
}
#u153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u154 {
  position:absolute;
  left:0px;
  top:3px;
  width:66px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:120px;
  top:0px;
  width:112px;
  height:22px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u157 {
  position:absolute;
  left:250px;
  top:0px;
  width:290px;
  height:25px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u158 {
  position:absolute;
  left:479px;
  top:59px;
  width:19px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u159 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:34px;
  width:66px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:118px;
  top:55px;
  width:112px;
  height:25px;
}
#u162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u163 {
  position:absolute;
  left:0px;
  top:64px;
  width:40px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:119px;
  top:27px;
  width:112px;
  height:22px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u166 {
  position:absolute;
  left:250px;
  top:606px;
  width:169px;
  height:16px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:401px;
  top:609px;
  width:121px;
  height:13px;
  font-size:10px;
  text-decoration:underline;
  color:#0000FF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:13px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u183 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u189 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u191 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:378px;
  top:970px;
  width:32px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
