.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
@keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.bigBanner {
  position: relative;
}
.bigBanner .xiala {
  width: 84px;
  height: 40px;
  background: #000000 url(../images/index/bottom.png) no-repeat center center;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -42px;
  cursor: pointer;
  z-index: 6;
  opacity: .7;
}
.bigBanner .ss {
  background: #000000 url(../images/index/top.png) no-repeat center center;
}
.bigBanner .reserve {
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 3;
}
.bigBanner .reserve .bg {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .4;
  position: absolute;
  left: 0;
  top: 0;
}
.bigBanner .reserve .info {
  position: relative;
  z-index: 4;
  text-align: center;
}
.bigBanner .reserve .info h5 {
  font-size: 22px;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 6px;
}
.bigBanner .reserve .info h5 em {
  background: url(../images/index/time.png) no-repeat left center;
  padding-left: 34px;
}
.bigBanner .reserve .info .box {
  font-size: 0;
  text-align: center;
  margin-top: 10px;
  position: relative;
  z-index: 7;
}
.bigBanner .reserve .info .area {
  width: 325px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  overflow: visible;
}
.bigBanner .reserve .info .area .icon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
.bigBanner .reserve .info .area .area_cont {
  height: auto;
  background: #fff;
  text-align: left;
  margin-top: -2px;
  display: none;
  z-index: 4;
}
.bigBanner .reserve .info .area .area_cont p {
  line-height: 45px;
  font-size: 14px;
  color: #444444;
  padding-left: 10px;
  cursor: pointer;
}
.bigBanner .reserve .info .area .area_cont p:hover {
  background: #ea5706;
  color: #fff;
}
.bigBanner .reserve .info .area .area_show {
  display: block;
  z-index: 3;
  position: relative;
}
.bigBanner .reserve .info .area input {
  width: 98%;
  padding-left: 2%;
  height: 100%;
  color: #999;
}
.bigBanner .reserve .info .child {
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  overflow: visible;
  margin-left: 10px;
  position: relative;
}
.bigBanner .reserve .info .child input {
  width: 98%;
  padding-left: 2%;
  height: 100%;
}
.bigBanner .reserve .info .child dt {
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  color: #a7a7a7;
  cursor: pointer;
  position: relative;
}
.bigBanner .reserve .info .child dt span {
  border-width: 8px;
  border-color: #7d7d7d transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}
.bigBanner .reserve .info .child .person {
  background: #fff;
  margin-top: 1px;
  display: none;
  position: relative;
  z-index: 30;
}
.bigBanner .reserve .info .child .person dd {
  text-align: left;
  font-size: 14px;
  color: #444444;
  padding-left: 10px;
  cursor: pointer;
}
.bigBanner .reserve .info .child .person dd:hover {
  background: #ea5706;
  color: #fff;
}
.bigBanner .reserve .info .child .show {
  display: block;
  position: relative;
}
.bigBanner .reserve .info .btn {
  margin-right: 0;
  background: #e8b332;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.bigBanner::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: visible;
}
.banner01 {
  height: 790px;
  width: 100%;
  position: relative;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  overflow: hidden;
}
.banner01 .content01 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
}
.banner01 .btn01 {
  width: 49px;
  height: 49px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 8%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
.banner01 .prev {
  background: url(../images/index/prev.png) no-repeat center center;
}
.banner01 .next {
  left: auto;
  right: 8%;
  background: url(../images/index/next.png) no-repeat center center;
}
.banner01 .prev:hover {
  background: #000000 url(../images/index/prev.png) no-repeat center center;
  opacity: .8;
}
.banner01 .next:hover {
  background: #000000 url(../images/index/next.png) no-repeat center center;
  opacity: .8;
}
.lq-datetimepick {
  z-index: 99;
}
.form-group {
  position: relative;
  width: 100%;
  height: 100%;
}
#datetimepicker3 {
  background: url(../images/index/time-icon.png) no-repeat 98% center;
  cursor: pointer;
}
#datetimepicker4 {
  background: url(../images/index/time-icon.png) no-repeat 98% center;
  cursor: pointer;
}
.form-group input {
  border: 0 none;
}
.form-group-txt {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.form-group-select {
  /*padding-left: 1px;*/
}
.form-control,
.simulation-input {
  width: 100%;
  line-height: 16px;
  font-size: 12px;
  color: #4b555b;
  background: none;
  outline: none;
  border: 1px solid #d3dcdd;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 -1px;
  padding: 7px 8px;
  *padding-left: 0;
  *padding-right: 0;
  *text-indent: 8px;
  *float: left;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.float-left {
  float: left;
}
.environmental {
  padding: 90px 0 200px 0;
  overflow: hidden;
  background: #f3f3f3 url(../images/index/e.png) no-repeat 10% 90%;
}
.environmental .e {
  height: 650px;
  overflow: hidden;
  background: #fff;
}
.environmental .e .imgs {
  width: 690px;
  float: left;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
}
.environmental .e .infos {
  width: 510px;
  float: left;
}
.environmental .e .infos .info {
  width: 80%;
  margin: 0 auto;
  padding-top: 280px;
}
.environmental .e .infos .info h6 {
  font-size: 58px;
  color: #989898;
  padding-bottom: 16px;
  font-family: 'acanthusregular';
}
.environmental .e .infos .info h5 {
  font-size: 36px;
  color: #18191b;
  padding-bottom: 34px;
}
.environmental .e .infos .info p {
  font-size: 14px;
  color: #282828;
  line-height: 24px;
}
.environmental .e .infos .info p span {
  font-weight: bold;
  padding-right: 6px;
}
.environmental .e .infos .info .more {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: right;
  margin-top: 40px;
}
.product {
  padding: 110px 0 140px 0;
  background: #ffffff url(../images/index/p.png) no-repeat 90.7% 90%;
}
.product .banner {
  width: 100%;
  height: 470px;
  position: relative;
  overflow: hidden;
}
.product .banner .content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.product .banner .content .cont {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.product .banner .content .cont .child {
  width: 25%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.product .banner .content .cont .child:hover .hover {
  display: block;
}
.product .banner .content .cont .child:hover .txt {
  position: relative;
  z-index: 10;
}
.product .banner .content .cont .child:hover h5,
.product .banner .content .cont .child:hover p {
  color: #fff;
  z-index: 99;
}
.product .banner .content .cont .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}
.product .banner .content .cont .hover .bg {
  width: 100%;
  height: 100%;
  background: #ea5706;
  opacity: .8;
  position: absolute;
  left: 0;
  top: 0;
}
.product .banner .content .cont .hover .more {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 92px;
  height: 92px;
  z-index: 6;
}
.product .banner .content .cont .imgs {
  height: 340px;
  line-height: 340px;
  text-align: center;
}
.product .banner .content .cont h5 {
  font-size: 18px;
  color: #6a6a6a;
  padding-bottom: 10px;
}
.product .banner .content .cont p {
  font-size: 18px;
  color: #a2a2a2;
}
.product .banner .max-container .btn {
  width: 58px;
  height: 58px;
  border: 1px solid #d3d3d3;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.product .banner .max-container .left {
  background: url(../images/index/left.png) no-repeat center center;
}
.product .banner .max-container .btn:hover {
  border: 1px solid #696969;
}
.product .banner .max-container .left:hover {
  background: url(../images/index/left_hover.png) no-repeat center center;
}
.product .banner .max-container .right {
  left: auto;
  right: 0;
  background: url(../images/index/right.png) no-repeat center center;
}
.product .banner .max-container right:hover {
  background: url(../images/index/right_hover.png) no-repeat center center;
}
.space {
  padding: 70px 0 60px 0 ;
  background: #f3f3f3 url(../images/index/i.png) no-repeat 12% 90%;
}
.space ul {
  overflow: hidden;
}
.space ul .one {
  float: left;
  width: 399px;
  height: 603px;
  overflow: hidden;
}
.space ul .one li {
  width: 100%;
}
.space ul .one li img {
  max-width: 100%;
  max-height: 100%;
}
.space ul li {
  overflow: hidden;
  position: relative;
}
.space ul li .hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.space ul li .hover .bg {
  width: 100%;
  height: 100%;
  background: #ea5706;
  opacity: .8;
  position: absolute;
  left: 0;
  top: 0;
}
.space ul li .hover .txt {
  width: 100%;
  text-align: center;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.space ul li .hover h5 {
  font-size: 48px;
  color: #fff;
  padding-bottom: 24px;
}
.space ul li .hover p {
  font-size: 14px;
  color: #fff;
}
.space ul li .hover .money {
  padding: 6px 16px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  background: #fff;
  font-size: 14px;
  color: #1e1e1e;
  margin-top: 22px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.space ul li .hover .money span {
  font-size: 36px;
  color: #ea5706;
  font-weight: bold;
}
.space ul li:hover .hover {
  display: block;
}
.space ul .two {
  float: left;
  margin-left: 1px;
}
.space ul .two li {
  width: 399px;
  height: 302px;
}
.space ul .two li img {
  max-width: 100%;
  max-height: 100%;
}
.space ul .two .mb {
  margin-bottom: 1px;
}
.smart {
  padding: 90px 0 110px 0;
  background: #ffffff url(../images/index/h.png) no-repeat 90.7% 90%;
}
.smart .cont {
  height: 650px;
  background: no-repeat center center;
  overflow: hidden;
  position: relative;
}
.smart img {
  width: 100%;
}
.smart .info {
  width: 360px;
  height: 400px;
  position: absolute;
  left: 60px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: #fff;
}
.smart .info .txt {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}
.smart .info .txt h6 {
  font-size: 18px;
  color: #2a700f;
  padding-bottom: 4px;
}
.smart .info .txt p {
  font-size: 14px;
  color: #000;
  line-height: 30px;
}
.smart .info .txt .more {
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ea5706;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media (max-width: 639px) {
  .banner01 {
    height: 400px;
  }
  .bigBanner .reserve {
    height: 200px;
  }
  .bigBanner .xiala {
    width: 50px;
    height: 30px;
    margin-left: -25px;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
  }
  .bigBanner .hh {
    margin-left: -48px;
  }
  .bigBanner .hhh {
    margin-left: 0;
  }
  .bigBanner .reserve .info h5 {
    font-size: 18px;
  }
  .bigBanner .reserve .info h5 em {
    background-size: 18px auto;
    -webkit-background-size: 18px auto;
    -moz-background-size: 18px auto;
    -ms-background-size: 18px auto;
    -o-background-size: 18px auto;
  }
  .bigBanner .reserve .info .area,
  .bigBanner .reserve .info .child {
    height: 36px;
    line-height: 36px;
    font-size: 12px;
  }
  .banner01 .btn01 {
    bottom: auto;
    top: 40%;
  }
  .bigBanner .reserve .info span img {
    width: 70%;
    display: none;
  }
  .bigBanner .reserve .info .box {
    margin-top: 0;
  }
  .bigBanner .reserve .info .area {
    width: 46%;
    margin-bottom: 4px;
  }
  .bigBanner .reserve .info .child {
    width: 46%;
    margin-left: 2px;
    margin-bottom: 4px;
  }
  .banner01 .btn01 {
    width: 36px;
    height: 36px;
  }
  .environmental {
    padding: 60px 0 120px 0;
  }
  .environmental .e {
    height: auto;
  }
  .environmental .e .imgs {
    width: 100%;
    height: 440px;
  }
  .environmental .e .infos {
    width: 100%;
    padding-top: 30px;
  }
  .environmental .e .infos .info {
    padding-top: 0;
  }
  .environmental .e .infos .info h6 {
    font-size: 28px;
    padding-bottom: 8px;
  }
  .environmental .e .infos .info h5 {
    font-size: 24px;
    padding-bottom: 18px;
  }
  .product {
    padding: 60px 0 90px 0;
  }
  .product .banner .content .cont .child {
    width: 50%;
    height: 50%;
  }
  .product .banner .content .cont .imgs {
    height: 160px;
    line-height: 160px;
  }
  .product .banner .content .cont .imgs img {
    max-width: 70%;
    max-height: 100%;
  }
  .product .banner .max-container .btn {
    width: 36px;
    height: 36px;
  }
  .product .banner .content .cont .hover .more {
    width: 36px;
    height: 36px;
  }
  .product .banner .content .cont .hover .more img {
    width: 100%;
    height: auto;
  }
  .product .banner .content .cont h5,
  .product .banner .content .cont p {
    font-size: 14px;
  }
  .space ul {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .space ul .one {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
  }
  .space ul .two li {
    width: 100%;
    height: auto;
    margin-bottom: 1px;
  }
  .space ul li .hover .txt {
    height: 100px;
  }
  .space ul li .hover h5 {
    font-size: 26px;
    padding-bottom: 6px;
  }
  .space ul li .hover .money span {
    font-size: 24px;
  }
  .smart {
    padding: 60px 0 90px 0;
  }
  .smart .cont {
    height: 500px;
  }
  .smart .info {
    width: 90%;
    max-width: 360px;
    height: 360px;
  }
  .smart .info {
    left: 0;
    right: 0;
    margin: auto;
  }
  .smart .info .txt {
    width: 90%;
    padding-top: 40px;
  }
  .smart .info .txt h6 {
    font-size: 16px;
    line-height: 20px;
  }
  .smart .info .txt .more {
    margin-top: 20px;
  }
  .lq-datetimepick {
    width: 100%;
    max-width: 550px;
    left: 0% !important;
  }
  .select-datetime dl.datetime-day dt {
    width: 50px;
  }
  .select-datetime dl.datetime-day dt,
  .select-datetime dl.datetime-day dd {
    width: 50px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .banner01 {
    height: 500px;
  }
  .bigBanner .reserve .info .area {
    width: 20%;
  }
  .bigBanner .reserve .info .child {
    width: 18%;
    margin-left: 4px;
  }
  .bigBanner .reserve .info .btn {
    font-size: 14px;
  }
  .environmental .e .imgs {
    width: 54%;
  }
  .environmental .e .infos {
    width: 45%;
  }
  .environmental .e {
    height: 500px;
  }
  .environmental .e .infos .info {
    padding-top: 100px;
  }
  .environmental .e .infos .info h6 {
    font-size: 40px;
  }
  .environmental .e .infos .info h5 {
    font-size: 24px;
    padding-bottom: 18px;
  }
  .environmental .e .infos .info .more {
    margin-top: 0;
  }
  .product {
    padding: 90px 0 120px 0;
  }
  .product .banner {
    height: 360px;
  }
  .product .banner .content .cont .imgs {
    height: 280px;
    line-height: 280px;
  }
  .product .banner .content .cont .imgs img {
    max-width: 70%;
  }
  .product .banner .content .cont .hover .more {
    width: 60px;
    height: 60px;
  }
  .product .banner .content .cont .hover .more img {
    width: 100%;
    height: auto;
  }
  .product .banner .max-container .btn {
    width: 36px;
    height: 36px;
  }
  .product .banner .content .cont h5,
  .product .banner .content .cont p {
    font-size: 16px;
  }
  .space ul .one,
  .space ul .two {
    width: 32%;
    height: auto;
  }
  .space ul .two li {
    width: 100%;
    height: auto;
  }
  .space ul li .hover h5 {
    font-size: 22px;
    padding-bottom: 6px;
  }
  .space ul li .hover .txt {
    height: 100px;
  }
  .space ul li .hover .money span {
    font-size: 20px;
  }
  .smart .cont {
    height: 500px;
  }
  .smart .info {
    width: 300px;
    height: 300px;
  }
  .smart .info .txt {
    padding-top: 40px;
    width: 90%;
  }
  .smart .info .txt h6 {
    font-size: 16px;
  }
  .smart .info .txt .more {
    margin-top: 20px;
  }
  .bigBanner .reserve .info .child dt,
  .bigBanner .reserve .info .child .person dd {
    font-size: 12px;
  }
  .bigBanner .reserve .info .child dt span {
    border-width: 6px;
    margin-top: -3px;
  }
  .lq-datetimepick {
    left: 12% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1335px) {
  .banner01 {
    height: 600px;
  }
  .bigBanner .reserve .info .area {
    width: 20%;
  }
  .bigBanner .reserve .info .child {
    width: 18%;
  }
  .environmental .e {
    height: 620px;
  }
  .environmental .e .imgs {
    width: 56%;
  }
  .environmental .e .infos {
    width: 42%;
  }
  .space ul .one,
  .space ul .two {
    width: 32%;
    height: auto;
  }
  .space ul .two li {
    width: 100%;
    height: auto;
  }
  .space ul li .hover h5 {
    font-size: 34px;
    padding-bottom: 10px;
  }
  .space ul li .hover .txt {
    height: 130px;
  }
  .space ul li .hover .money span {
    font-size: 30px;
  }
}
