.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
@keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.message {
  padding: 100px 0 60px 0;
  overflow: hidden;
}
.message .content {
  width: 100%;
  overflow: hidden;
}
.message .left {
  width: 28%;
  max-width: 250px;
  float: left;
  background: #f3f3f3;
  height: 100%;
  animation: left 1s linear 0s both;
}
.message .left dl {
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
}
.message .left .on dt {
  background: #ea5706;
  color: #fff;
}
.message .left .on .in {
  color: #ea5706;
}
.message .left dt {
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: #e4e4e4;
  text-align: right;
  font-size: 18px;
  margin-bottom: 8px;
}
.message .left dt p {
  width: 80%;
}
.message .left dd {
  width: 100%;
  font-size: 14px;
  color: #545454;
  line-height: 35px;
  text-align: right;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
}
.message .left dd p {
  width: 80%;
}
.message .left dd:hover {
  color: #ea5706;
}
.message .right {
  width: 73%;
  float: left;
  background: #fff;
  animation: right 1s linear 0s both;
}
.message .right .info {
  padding-left: 12%;
  padding-top: 70px;
  padding-right: 2%;
}
.message .right .info h5 {
  font-size: 30px;
  color: #444444;
  font-family: 'acanthusregular';
}
.message .right .info .personal {
  width: 520px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 140px;
}
.message .right .info .personal label {
  width: 100px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 20px;
  font-size: 14px;
  color: #696969;
}
.message .right .info .personal .baseW {
  width: 100%;
  height: 36px;
  overflow: hidden;
  line-height: 36px;
  margin-bottom: 20px;
}
.message .right .info .personal .baseW input {
  width: 390px;
  padding-left: 4px;
  height: 32px;
  border: 1px solid #e5e5e5;
  float: left;
}
.message .right .info .personal .baseT {
  margin-bottom: 20px;
  height: auto;
  overflow: hidden;
}
.message .right .info .personal .baseT textarea {
  width: 390px;
  padding-left: 4px;
  border: 1px solid #e5e5e5;
  float: left;
  padding-top: 8px;
}
.message .right .info .personal button {
  width: 390px;
  height: 46px;
  background: #ea5706;
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: #fff;
  font-family: '微软雅黑';
  margin-left: 120px;
  cursor: pointer;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
}
.message .right .info .personal button:hover {
  background: #ff5b00;
}
.message .right .info .personal .baseR {
  height: 36px;
  margin-bottom: 20px;
  line-height: 36px;
}
.message .right .info .personal .baseR input {
  vertical-align: middle;
}
.message .right .info .personal .baseR span {
  font-size: 14px;
  color: #000;
  padding-left: 4px;
}
.message .right .info .personal .baseR .s {
  overflow: hidden;
  float: left;
  margin-right: 40px;
}
.message .right .info .personal .baseS {
  height: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}
.message .right .info .personal .baseS select {
  width: 125px;
  height: 30px;
  border: 1px solid #e5e5e5;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  margin-right: 10px;
  float: left;
}
.message .right .info .personal .baseS input {
  width: 118px;
  padding-left: 5px;
  height: 30px;
  border: 1px solid #e5e5e5;
  line-height: 30px;
  font-size: 12px;
  color: #333;
  margin-right: 10px;
  float: left;
}
.message .right .info .personal .baseS .nor {
  margin-right: 0;
}
@media (max-width: 639px) {
  h2 {
    padding-bottom: 20px;
  }
  .message {
    padding: 40px 0 30px 0;
  }
  .message .left {
    width: 100%;
    max-width: 100%;
    height: auto!important;
  }
  .message .left dt {
    font-size: 16px;
    text-align: left;
    width: auto;
    padding-left: 10%;
  }
  .message .left dd {
    text-align: left;
    width: auto;
    padding-left: 10%;
  }
  .message .right {
    width: 100%;
  }
  .message .right .info {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    padding-top: 40px;
  }
  .message .right .info h5 {
    font-size: 26px;
  }
  .message .right .info .personal {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .message .right .info .personal .baseW {
    height: auto;
    margin-bottom: 10px;
  }
  .message .right .info .personal label {
    float: none;
    display: block;
    width: 100%;
    padding-left: 2%;
    text-align: left;
    line-height: 24px;
  }
  .message .right .info .personal .baseW input {
    width: 97%;
    padding-left: 2%;
  }
  .message .right .info .personal .baseR {
    overflow: hidden;
    height: auto;
    margin-bottom: 10px;
  }
  .message .right .info .personal .baseS select {
    width: 31%;
    margin-right: 2px;
  }
  .message .right .info .personal .baseS input {
    width: 30%;
    margin-right: 2px;
  }
  .message .right .info .personal .baseS {
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .message .right .info .personal .baseT textarea {
    width: 96%;
    padding-left: 2%;
  }
  .message .right .info .personal button {
    width: 120px;
    text-align: center;
    font-size: 14px;
    margin-left: 0;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .message .left {
    width: 24%;
  }
  .message .left dt {
    font-size: 16px;
  }
  .message .right {
    width: 76%;
  }
  .message .right .info {
    padding-left: 6%;
    padding-right: 1%;
  }
  .message .right .info .personal label {
    width: 80px;
    margin-right: 8px;
  }
  .message .right .info .personal .baseW input,
  .message .right .info .personal .baseT textarea,
  .message .right .info .personal button {
    width: 300px;
  }
  .message .right .info .personal .baseS select {
    width: 100px;
  }
  .message .right .info .personal .baseS input {
    width: 94px;
  }
  .message .right .info .personal button {
    margin-left: 90px;
  }
}
