.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
@keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.search_parent {
  background: #fafafa;
}
.cart {
  padding: 96px 0 70px 0;
  overflow: hidden;
}
.cart .container {
  background: #fff;
}
.cart .shopping-nav {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  padding-top: 60px;
}
.cart .shopping-nav .child {
  width: 320px;
  height: 60px;
  line-height: 60px;
  background: #eee;
  font-size: 18px;
  color: #999;
  text-align: center;
  float: left;
  margin-right: 30px;
  position: relative;
}
.cart .shopping-nav .on {
  background: #ea5706;
  color: #fff;
}
.cart .shopping-nav .child::after {
  content: "";
  display: block;
  border-width: 7px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #b9b9b9;
  position: absolute;
  right: -24px;
  top: 50%;
  margin-top: -7px;
}
.cart .shopping-nav .nor::after {
  border-width: 0;
}
.cart .content {
  width: 100%;
  height: 700px;
  position: relative;
}
.cart .content .yes {
  width: 100%;
  text-align: center;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.cart .content .yes .img {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.cart .content .yes .info {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 16px;
  color: #444444;
  line-height: 26px;
  text-align: left;
}
.cart .content .yes .info a {
  color: #ea5706;
}
@media (max-width: 639px) {
  .cart .shopping-nav {
    padding-top: 40px;
  }
  .cart .shopping-nav .child {
    width: 39%;
    height: 46px;
    line-height: 46px;
    max-width: 350px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .cart .shopping-nav .child::after {
    right: -20px;
  }
  .cart .content {
    height: 400px;
  }
  .cart .content .yes .img img {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .cart .shopping-nav .child {
    width: 28%;
    font-size: 16px;
  }
  .cart .content {
    height: 500px;
  }
}
@media (min-width: 1024px) and (max-width: 1335px) {
  .cart .shopping-nav .child {
    width: 28%;
  }
  .cart .content {
    height: 660px;
  }
}
