.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
@keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes left {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-webkit-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-moz-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-ms-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@-o-keyframes right {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.search_parent {
  background: #fafafa;
}
.cart {
  padding: 96px 0 70px 0;
  overflow: hidden;
}
.cart .container {
  background: #fff;
}
.cart .shopping-nav {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 60px;
}
.cart .shopping-nav .child {
  width: 320px;
  height: 60px;
  line-height: 60px;
  background: #eee;
  font-size: 18px;
  color: #999;
  text-align: center;
  float: left;
  margin-right: 30px;
  position: relative;
}
.cart .shopping-nav .on {
  background: #ea5706;
  color: #fff;
}
.cart .shopping-nav .child::after {
  content: "";
  display: block;
  border-width: 7px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #b9b9b9;
  position: absolute;
  right: -24px;
  top: 50%;
  margin-top: -7px;
}
.cart .shopping-nav .nor::after {
  border-width: 0;
}
.cart .content .title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #444444;
  padding-top: 40px;
  padding-bottom: 20px;
}
.cart .content .title p {
  width: 25%;
  float: left;
  text-align: center;
}
.cart .content ul {
  width: 100%;
}
.cart .content ul li {
  width: 100%;
  height: 120px;
  line-height: 120px;
  margin-bottom: 20px;
}
.cart .content ul li .name {
  font-size: 16px;
  color: #444444;
}
.cart .content ul li .money {
  font-size: 20px;
  color: #ea5706;
}
.cart .content ul li .number {
  overflow: hidden;
}
.cart .content ul li .number .num-box {
  width: 240px;
  overflow: hidden;
  margin: 36px auto 0;
}
.cart .content ul li .number .delete {
  width: 40px;
  height: 44px;
  float: left;
  line-height: 44px;
  font-size: 14px;
  color: #888888;
  cursor: pointer;
}
.cart .content ul li .number .shao,
.cart .content ul li .number .more {
  width: 44px;
  height: 44px;
  float: left;
  line-height: 38px;
  text-align: center;
  color: #828282;
  cursor: pointer;
  background: #fafafa;
}
.cart .content ul li .number .shao {
  border: 1px solid #e5e5e5;
  font-size: 56px;
}
.cart .content ul li .number .more {
  border: 1px solid #e5e5e5;
  font-size: 38px;
}
.cart .content ul li .number .num {
  width: 86px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #767676;
  float: left;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.cart .content ul li .product,
.cart .content ul li .name,
.cart .content ul li .money,
.cart .content ul li .number {
  width: 25%;
  float: left;
  text-align: center;
}
.cart .content .all {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 120px;
  text-align: right;
}
.cart .content .all button {
  width: 150px;
  height: 50px;
  background: #ea5706;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 16px;
}
.cart .content .all p {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  line-height: 50px;
  font-size: 16px;
  color: #444444;
}
.cart .content .all p span,
.cart .content .all p em,
.cart .content .all p i {
  color: #ea5706;
}
.cart .content .all p em,
.cart .content .all p i {
  font-size: 20px;
}
@media (max-width: 639px) {
  .cart .shopping-nav {
    padding-top: 40px;
  }
  .cart .shopping-nav .child {
    width: 39%;
    height: 46px;
    line-height: 46px;
    max-width: 350px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .cart .shopping-nav .child::after {
    right: -20px;
  }
  .cart .content .title p {
    font-size: 14px;
  }
  .cart .content .title {
    padding-top: 20px;
  }
  .cart .content ul li .product,
  .cart .content ul li .name,
  .cart .content ul li .money,
  .cart .content ul li .number {
    width: 100%;
  }
  .cart .content ul li .number .num-box {
    width: 220px;
    margin: 16px auto 0;
  }
  .cart .content ul li {
    overflow: hidden;
    height: auto;
  }
  .cart .content ul li .name,
  .cart .content ul li .money {
    height: 40px;
    line-height: 40px;
  }
  .cart .content .all p {
    font-size: 12px;
  }
  .cart .content .all p em,
  .cart .content .all p i {
    font-size: 16px;
  }
  .cart .content .all {
    padding-bottom: 60px;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .cart .shopping-nav .child {
    width: 28%;
    font-size: 16px;
    margin-right: 20px;
  }
  .cart .content ul li .number .shao,
  .cart .content ul li .number .more {
    width: 30px;
  }
  .cart .content ul li .number .num {
    width: 44px;
  }
  .cart .content ul li .number .num-box {
    width: 160px;
  }
}
@media (min-width: 1024px) and (max-width: 1335px) {
  .cart .shopping-nav .child {
    width: 28%;
  }
}
