body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:262px;
  top:161px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:332px;
  top:161px;
  width:66px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:424px;
  top:161px;
  width:92px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:544px;
  top:250px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:272px;
  top:204px;
  width:446px;
  height:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:250px;
  top:200px;
  width:16px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:520px;
  top:300px;
  width:88px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:416px;
  top:324px;
  width:40px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:392px;
  top:374px;
  width:109px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:692px;
  top:324px;
  width:40px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:668px;
  top:374px;
  width:109px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:324px;
  top:414px;
  width:40px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:300px;
  top:464px;
  width:109px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:632px;
  top:414px;
  width:40px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:608px;
  top:464px;
  width:116px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:765px;
  top:414px;
  width:40px;
  height:40px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:741px;
  top:464px;
  width:109px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:240px;
  top:510px;
  width:40px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:216px;
  top:560px;
  width:116px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:369px;
  top:510px;
  width:40px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:345px;
  top:560px;
  width:116px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:604px;
  top:510px;
  width:40px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:580px;
  top:560px;
  width:116px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:477px;
  top:414px;
  width:40px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:453px;
  top:464px;
  width:109px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:479px;
  top:530px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:697px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:782px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:884px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:449px;
  top:364px;
  width:275px;
  height:182px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u59 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u59_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u60 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:90px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u70 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:86px;
  top:78px;
  width:134px;
  height:16px;
  font-size:14px;
  color:#006600;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:60px;
  top:78px;
  width:16px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u75_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u78 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:0px;
  top:272px;
  width:141px;
  height:32px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:30px;
  top:280px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:0px;
  top:305px;
  width:141px;
  height:32px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:30px;
  top:313px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:31px;
  top:149px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:30px;
  top:173px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:30px;
  top:196px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:30px;
  top:218px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:30px;
  top:242px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u135 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
