body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:65px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:142px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:150px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:175px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:183px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:26px;
  top:217px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:26px;
  top:241px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:26px;
  top:267px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:26px;
  top:290px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:336px;
  top:162px;
  width:40px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:448px;
  top:200px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:505px;
  top:226px;
  width:65px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:250px;
  top:240px;
  width:650px;
  height:416px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:416px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:270px;
  top:632px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u78 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u80 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
