body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:268px;
  top:160px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:338px;
  top:160px;
  width:66px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u7 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:142px;
  width:141px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:150px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:279px;
  width:141px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:287px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:31px;
  top:184px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:30px;
  top:208px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:30px;
  top:231px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:30px;
  top:253px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:260px;
  top:230px;
  width:187px;
  height:85px;
}
#u49_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
}
#u51 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:127px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:122px;
  white-space:nowrap;
}
#u50_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55 {
  position:absolute;
  left:20px;
  top:20px;
  width:162px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:140px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:135px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:40px;
  width:157px;
  height:20px;
}
#u59 {
  position:absolute;
  left:22px;
  top:0px;
  width:135px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
}
#u60 {
  position:absolute;
  left:3px;
  top:2px;
  width:130px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:20px;
  top:60px;
  width:149px;
  height:20px;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:127px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:2px;
  width:122px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:461px;
  top:200px;
  width:10px;
  height:470px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:453px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:470px;
}
#u65 {
  position:absolute;
  left:500px;
  top:233px;
  width:430px;
  height:387px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:387px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:500px;
  top:207px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:260px;
  top:202px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:477px;
  top:207px;
  width:16px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u72 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:242px;
  top:202px;
  width:16px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:500px;
  top:233px;
  width:430px;
  height:387px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:387px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:284px;
  top:578px;
  width:174px;
  height:42px;
  font-size:11px;
  color:#FF0000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:40px;
  top:84px;
  width:160px;
  height:36px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u94 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u100 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u102 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
