body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:268px;
  top:160px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:338px;
  top:160px;
  width:66px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u7 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:142px;
  width:141px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:150px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:279px;
  width:141px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:287px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:31px;
  top:184px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:30px;
  top:208px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:30px;
  top:231px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:30px;
  top:253px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:571px;
  top:250px;
  width:40px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:272px;
  top:204px;
  width:446px;
  height:16px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:250px;
  top:200px;
  width:16px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:547px;
  top:300px;
  width:88px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:443px;
  top:324px;
  width:40px;
  height:40px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:419px;
  top:374px;
  width:109px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:719px;
  top:324px;
  width:40px;
  height:40px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:695px;
  top:374px;
  width:109px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:351px;
  top:414px;
  width:40px;
  height:40px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:327px;
  top:464px;
  width:109px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:659px;
  top:414px;
  width:40px;
  height:40px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:635px;
  top:464px;
  width:116px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:792px;
  top:414px;
  width:40px;
  height:40px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:768px;
  top:464px;
  width:109px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:267px;
  top:510px;
  width:40px;
  height:40px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:243px;
  top:560px;
  width:116px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:396px;
  top:510px;
  width:40px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:372px;
  top:560px;
  width:116px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:631px;
  top:510px;
  width:40px;
  height:40px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:607px;
  top:560px;
  width:116px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:504px;
  top:414px;
  width:40px;
  height:40px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:480px;
  top:464px;
  width:109px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:506px;
  top:530px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:724px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:809px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:911px;
  top:534px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:38px;
  top:80px;
  width:162px;
  height:40px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u116 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u122 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u124 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
