body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:162px;
  width:73px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:775px;
  top:540px;
  width:87px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:420px;
  top:162px;
  width:60px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:240px;
  top:420px;
  width:640px;
  height:80px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:244px;
  top:419px;
  width:16px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:330px;
  top:250px;
  width:175px;
  height:75px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:75px;
}
#u15 {
  position:absolute;
  left:2px;
  top:30px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:659px;
  top:274px;
  width:137px;
  height:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:388px;
  top:344px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:708px;
  top:344px;
  width:40px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:368px;
  top:344px;
  width:32px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:688px;
  top:344px;
  width:32px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:244px;
  top:200px;
  width:127px;
  height:16px;
  font-size:14px;
  color:#006600;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u31 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:256px;
  width:141px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:30px;
  top:264px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:0px;
  top:289px;
  width:141px;
  height:32px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:30px;
  top:297px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:322px;
  width:141px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:30px;
  top:330px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:27px;
  top:118px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:26px;
  top:142px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:26px;
  top:165px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:26px;
  top:187px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:26px;
  top:208px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:26px;
  top:230px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:401px;
  top:248px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u77_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u78 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u78_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u79 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u85 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:100px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:82px;
  top:74px;
  width:105px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  visibility:hidden;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:66px;
  top:74px;
  width:16px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u93 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:108px;
  top:74px;
  width:79px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u117 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
