body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:176px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:184px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:209px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:217px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:242px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:250px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:275px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:283px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:31px;
  top:85px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:30px;
  top:107px;
  width:78px;
  height:16px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:30px;
  top:129px;
  width:91px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:30px;
  top:150px;
  width:91px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:330px;
  top:162px;
  width:73px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:270px;
  top:212px;
  width:53px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:333px;
  top:208px;
  width:167px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:645px;
  top:212px;
  width:66px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:708px;
  top:208px;
  width:167px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u57 {
  position:absolute;
  left:645px;
  top:251px;
  width:66px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:708px;
  top:247px;
  width:167px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u60 {
  position:absolute;
  left:270px;
  top:395px;
  width:53px;
  height:32px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:333px;
  top:399px;
  width:167px;
  height:22px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u63 {
  position:absolute;
  left:270px;
  top:284px;
  width:66px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:333px;
  top:280px;
  width:167px;
  height:25px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u66 {
  position:absolute;
  left:645px;
  top:286px;
  width:66px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:708px;
  top:282px;
  width:167px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:270px;
  top:321px;
  width:66px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:333px;
  top:317px;
  width:167px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u72 {
  position:absolute;
  left:645px;
  top:321px;
  width:66px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:708px;
  top:317px;
  width:167px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u75 {
  position:absolute;
  left:270px;
  top:364px;
  width:66px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:333px;
  top:360px;
  width:167px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u78 {
  position:absolute;
  left:267px;
  top:628px;
  width:66px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:333px;
  top:630px;
  width:539px;
  height:67px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:67px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81 {
  position:absolute;
  left:645px;
  top:364px;
  width:53px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:708px;
  top:360px;
  width:167px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u84 {
  position:absolute;
  left:267px;
  top:735px;
  width:87px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:507px;
  top:214px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:267px;
  top:769px;
  width:200px;
  height:16px;
  color:#FF0000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:510px;
  top:248px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:510px;
  top:284px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:510px;
  top:326px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:885px;
  top:254px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:885px;
  top:290px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:885px;
  top:328px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:885px;
  top:364px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:872px;
  top:681px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:510px;
  top:364px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:510px;
  top:408px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:270px;
  top:251px;
  width:66px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:333px;
  top:248px;
  width:167px;
  height:22px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u113 {
  position:absolute;
  left:885px;
  top:406px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:645px;
  top:399px;
  width:53px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:708px;
  top:395px;
  width:167px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u118 {
  position:absolute;
  left:270px;
  top:449px;
  width:53px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:333px;
  top:445px;
  width:167px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u121 {
  position:absolute;
  left:645px;
  top:444px;
  width:66px;
  height:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:708px;
  top:440px;
  width:167px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124 {
  position:absolute;
  left:270px;
  top:505px;
  width:170px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:447px;
  top:502px;
  width:167px;
  height:25px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u127 {
  position:absolute;
  left:583px;
  top:502px;
  width:34px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u128 {
  position:absolute;
  left:270px;
  top:567px;
  width:105px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:447px;
  top:563px;
  width:167px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u131 {
  position:absolute;
  left:583px;
  top:563px;
  width:34px;
  height:25px;
}
#u131_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u132 {
  position:absolute;
  left:653px;
  top:490px;
  width:50px;
  height:50px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u133 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:719px;
  top:490px;
  width:50px;
  height:50px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:653px;
  top:550px;
  width:50px;
  height:50px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u137 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u157 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u159 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
