body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:79px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:349px;
  top:162px;
  width:70px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:272px;
  top:214px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:272px;
  top:259px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:272px;
  top:303px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:272px;
  top:346px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:272px;
  top:389px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:272px;
  top:432px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:272px;
  top:564px;
  width:40px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:471px;
  top:580px;
  width:170px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:272px;
  top:636px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:276px;
  top:470px;
  width:57px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:360px;
  top:451px;
  width:350px;
  height:82px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:82px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u27 {
  position:absolute;
  left:3px;
  top:17px;
  width:281px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:3px;
  top:43px;
  width:281px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:360px;
  top:564px;
  width:341px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:360px;
  top:214px;
  width:79px;
  height:16px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:360px;
  top:259px;
  width:200px;
  height:16px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:360px;
  top:303px;
  width:29px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:360px;
  top:346px;
  width:29px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:360px;
  top:389px;
  width:15px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:360px;
  top:432px;
  width:27px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:271px;
  top:599px;
  width:640px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:623px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:640px;
  height:1px;
}
#u46 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u49 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:0px;
  top:236px;
  width:141px;
  height:32px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:30px;
  top:244px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:269px;
  width:141px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:30px;
  top:277px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:302px;
  width:141px;
  height:32px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:30px;
  top:310px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:0px;
  top:335px;
  width:141px;
  height:32px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:30px;
  top:343px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:0px;
  top:368px;
  width:141px;
  height:32px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:30px;
  top:376px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:30px;
  top:52px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:30px;
  top:76px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:30px;
  top:102px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:30px;
  top:125px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:30px;
  top:150px;
  width:91px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:30px;
  top:174px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:30px;
  top:200px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:300px;
  top:11px;
  width:178px;
  height:16px;
  color:#666666;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:488px;
  top:11px;
  width:105px;
  height:16px;
  color:#666666;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:785px;
  top:11px;
  width:79px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:868px;
  top:11px;
  width:53px;
  height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:617px;
  top:11px;
  width:53px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:708px;
  top:11px;
  width:14px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:737px;
  top:11px;
  width:16px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u110 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:756px;
  top:11px;
  width:20px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:671px;
  top:11px;
  width:66px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
