body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:142px;
  width:141px;
  height:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:150px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:175px;
  width:141px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:30px;
  top:183px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:26px;
  top:217px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:26px;
  top:241px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:26px;
  top:267px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:26px;
  top:290px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:251px;
  top:206px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:331px;
  top:206px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:411px;
  top:206px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:598px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:620px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:642px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:666px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:688px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:710px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:732px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:756px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:778px;
  top:544px;
  width:10px;
  height:16px;
  text-decoration:underline;
  color:#006600;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:798px;
  top:548px;
  width:10px;
  height:10px;
  color:#006600;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:812px;
  top:544px;
  width:46px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-decoration:underline;
  color:#006600;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:331px;
  top:162px;
  width:66px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:251px;
  top:250px;
  width:691px;
  height:201px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:52px;
}
#u81 {
  position:absolute;
  left:2px;
  top:18px;
  width:29px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:33px;
  top:0px;
  width:180px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:52px;
}
#u83 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:213px;
  top:0px;
  width:190px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:52px;
}
#u85 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:403px;
  top:0px;
  width:49px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:452px;
  top:0px;
  width:49px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:501px;
  top:0px;
  width:70px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:52px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:571px;
  top:0px;
  width:115px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u93 {
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:52px;
  width:33px;
  height:36px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:33px;
  top:52px;
  width:180px;
  height:36px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:213px;
  top:52px;
  width:190px;
  height:36px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:403px;
  top:52px;
  width:49px;
  height:36px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:452px;
  top:52px;
  width:49px;
  height:36px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:501px;
  top:52px;
  width:70px;
  height:36px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:571px;
  top:52px;
  width:115px;
  height:36px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:88px;
  width:33px;
  height:36px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:33px;
  top:88px;
  width:180px;
  height:36px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:213px;
  top:88px;
  width:190px;
  height:36px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:403px;
  top:88px;
  width:49px;
  height:36px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:452px;
  top:88px;
  width:49px;
  height:36px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:501px;
  top:88px;
  width:70px;
  height:36px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:571px;
  top:88px;
  width:115px;
  height:36px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:124px;
  width:33px;
  height:36px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:33px;
  top:124px;
  width:180px;
  height:36px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:213px;
  top:124px;
  width:190px;
  height:36px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:403px;
  top:124px;
  width:49px;
  height:36px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:452px;
  top:124px;
  width:49px;
  height:36px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:501px;
  top:124px;
  width:70px;
  height:36px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:571px;
  top:124px;
  width:115px;
  height:36px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:160px;
  width:33px;
  height:36px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:36px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:33px;
  top:160px;
  width:180px;
  height:36px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:213px;
  top:160px;
  width:190px;
  height:36px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:403px;
  top:160px;
  width:49px;
  height:36px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:452px;
  top:160px;
  width:49px;
  height:36px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:501px;
  top:160px;
  width:70px;
  height:36px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:571px;
  top:160px;
  width:115px;
  height:36px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:258px;
  top:314px;
  width:32px;
  height:16px;
}
#u151 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u152 {
  position:absolute;
  left:258px;
  top:348px;
  width:32px;
  height:16px;
}
#u153 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u154 {
  position:absolute;
  left:258px;
  top:384px;
  width:32px;
  height:16px;
}
#u155 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u156 {
  position:absolute;
  left:258px;
  top:416px;
  width:32px;
  height:16px;
}
#u157 {
  position:absolute;
  left:16px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u158 {
  position:absolute;
  left:775px;
  top:316px;
  width:22px;
  height:16px;
}
#u159 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u160 {
  position:absolute;
  left:775px;
  top:350px;
  width:22px;
  height:16px;
}
#u161 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u162 {
  position:absolute;
  left:775px;
  top:386px;
  width:22px;
  height:16px;
}
#u163 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u164 {
  position:absolute;
  left:775px;
  top:422px;
  width:22px;
  height:16px;
}
#u165 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u166 {
  position:absolute;
  left:270px;
  top:494px;
  width:209px;
  height:16px;
  color:#FF0000;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:411px;
  top:256px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u168_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u169 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u169_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u170 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u171_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u176 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:60px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:140px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u180 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u182 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:76px;
  top:74px;
  width:118px;
  height:16px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u185 {
  position:absolute;
  left:50px;
  top:74px;
  width:16px;
  height:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u186 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:411px;
  top:256px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u187_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u188 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u188_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u189 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u190_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u195 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:90px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u197 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u199 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:60px;
  top:82px;
  width:16px;
  height:16px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u201 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:100px;
  top:82px;
  width:66px;
  height:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u217 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u223 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u225 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
