body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:261px;
  top:162px;
  width:65px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:336px;
  top:162px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:38px;
  top:70px;
  width:152px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:294px;
  top:204px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:360px;
  top:200px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:294px;
  top:239px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:307px;
  top:376px;
  width:40px;
  height:21px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:360px;
  top:356px;
  width:361px;
  height:22px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:360px;
  top:376px;
  width:540px;
  height:214px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:214px;
}
#u16 {
  position:absolute;
  left:2px;
  top:99px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:294px;
  top:614px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:360px;
  top:614px;
  width:60px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:440px;
  top:614px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:294px;
  top:656px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:410px;
  top:656px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:370px;
  top:388px;
  width:200px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u32 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:0px;
  top:142px;
  width:141px;
  height:32px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:30px;
  top:150px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:0px;
  top:175px;
  width:141px;
  height:32px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:30px;
  top:183px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:26px;
  top:217px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:26px;
  top:241px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFF00;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:26px;
  top:267px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:26px;
  top:290px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:287px;
  top:329px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:363px;
  top:326px;
  width:167px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u77 {
  position:absolute;
  left:490px;
  top:326px;
  width:40px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u78 {
  position:absolute;
  left:510px;
  top:326px;
  width:275px;
  height:182px;
  overflow:hidden;
  visibility:hidden;
}
#u78_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:182px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u79 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:160px;
}
#u79_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:246px;
}
#u80 {
  position:absolute;
  left:2px;
  top:72px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:10px;
  top:10px;
  width:250px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:-38px;
  top:-38px;
  width:336px;
  height:116px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:50px;
  top:17px;
  width:90px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:234px;
  top:17px;
  width:16px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u86 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:100px;
  top:126px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#000000;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:24px;
  top:17px;
  width:16px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u90 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:108px;
  top:74px;
  width:53px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:82px;
  top:74px;
  width:16px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u94 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:281px;
  top:280px;
  width:66px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:26px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:360px;
  top:280px;
  width:200px;
  height:22px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u98 {
  position:absolute;
  left:570px;
  top:210px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:360px;
  top:239px;
  width:60px;
  height:16px;
  color:#000000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:570px;
  top:286px;
  width:20px;
  height:16px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:550px;
  top:330px;
  width:20px;
  height:21px;
  color:#FF0000;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:910px;
  top:574px;
  width:20px;
  height:16px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u121 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u127 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
