body {
  margin:0px;
  background-image:url('../../images/系统登录默认页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:240px;
  top:161px;
  width:30px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:159px;
  width:20px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:161px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:240px;
  top:220px;
  width:685px;
  height:185px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:128px;
  top:0px;
  width:110px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:238px;
  top:0px;
  width:124px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:362px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:452px;
  top:0px;
  width:113px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:565px;
  top:0px;
  width:115px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:36px;
  width:128px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:128px;
  top:36px;
  width:110px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:238px;
  top:36px;
  width:124px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:362px;
  top:36px;
  width:90px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:452px;
  top:36px;
  width:113px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:565px;
  top:36px;
  width:115px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:72px;
  width:128px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:128px;
  top:72px;
  width:110px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:238px;
  top:72px;
  width:124px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:362px;
  top:72px;
  width:90px;
  height:36px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:452px;
  top:72px;
  width:113px;
  height:36px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:565px;
  top:72px;
  width:115px;
  height:36px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:108px;
  width:128px;
  height:36px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:128px;
  top:108px;
  width:110px;
  height:36px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:238px;
  top:108px;
  width:124px;
  height:36px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:362px;
  top:108px;
  width:90px;
  height:36px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:452px;
  top:108px;
  width:113px;
  height:36px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:565px;
  top:108px;
  width:115px;
  height:36px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:144px;
  width:128px;
  height:36px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:128px;
  top:144px;
  width:110px;
  height:36px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:238px;
  top:144px;
  width:124px;
  height:36px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:362px;
  top:144px;
  width:90px;
  height:36px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:452px;
  top:144px;
  width:113px;
  height:36px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:565px;
  top:144px;
  width:115px;
  height:36px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:798px;
  top:422px;
  width:142px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:620px;
  top:260px;
  width:60px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u70 {
  position:absolute;
  left:620px;
  top:298px;
  width:60px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u71 {
  position:absolute;
  left:620px;
  top:333px;
  width:60px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u72 {
  position:absolute;
  left:620px;
  top:368px;
  width:60px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u73 {
  position:absolute;
  left:854px;
  top:269px;
  width:16px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u74 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:854px;
  top:375px;
  width:16px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u76 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:854px;
  top:305px;
  width:16px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u78 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:854px;
  top:340px;
  width:16px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u80 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:820px;
  top:456px;
  width:98px;
  height:24px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
}
#u82 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:49px;
  top:170px;
  width:141px;
  height:520px;
  overflow:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:520px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u86 {
  position:absolute;
  left:0px;
  top:10px;
  width:141px;
  height:32px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:30px;
  top:18px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:43px;
  width:141px;
  height:32px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:30px;
  top:51px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:0px;
  top:76px;
  width:141px;
  height:32px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:30px;
  top:84px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:0px;
  top:109px;
  width:141px;
  height:32px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:30px;
  top:117px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:0px;
  top:272px;
  width:141px;
  height:32px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:30px;
  top:280px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:0px;
  top:305px;
  width:141px;
  height:32px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:30px;
  top:313px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:31px;
  top:149px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:30px;
  top:173px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:30px;
  top:196px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:30px;
  top:218px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:30px;
  top:242px;
  width:65px;
  height:16px;
  color:#FFFFFF;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:38px;
  top:74px;
  width:162px;
  height:46px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:306px;
  top:15px;
  width:84px;
  height:16px;
  color:#666666;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:408px;
  top:15px;
  width:105px;
  height:16px;
  color:#666666;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:785px;
  top:15px;
  width:79px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:868px;
  top:15px;
  width:53px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:617px;
  top:15px;
  width:53px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:708px;
  top:15px;
  width:14px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:737px;
  top:15px;
  width:16px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:756px;
  top:15px;
  width:20px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:671px;
  top:15px;
  width:66px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:526px;
  top:14px;
  width:16px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:542px;
  top:3px;
  width:16px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u153 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:547px;
  top:1px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
